input {
    box-shadow: 0 0 5px #1e1e1e;
    transition: 0.4s;
    &:hover{
        box-shadow: 0 0 1px #1e1e1e;
    }
    &:focus{
        border-image: linear-gradient(90deg, #30f5ff 0%, #3729fe 100%);
        border-image-slice: 1;
        box-shadow: 0 0 0px #1e1e1e;
        border-color: transparent;
        outline: none;
    }
}